.row
  .col-md-1
  .col-md-10
    h1 Head to Head Competition!
  .col-md-1
.row
  .col-md-1
  .col-md-5
    .leftBrain
      img(src="../../assets/img/brain_left.png").img-responsive
  .col-md-5
    .rightBrain
      img(src="../../assets/img/brain_right.png").img-responsive
  .col-md-1
.row
  .col-md-1
  .col-md-10.cntr
    .btn.btn-default.btn-lg(ng-click="newGamePage()") Start a New Game
  .col-md-1

