<<<<<<< HEAD

h3 About Page
  


// Adam
// https://www.linkedin.com/in/adambarnhard
// https://github.com/ABarnhard
// https://twitter.com/adambarnhard

// Justin 
// https://github.com/falkben
// https://twitter.com/baseLogiK
// http://trialbyfi.re

//Brian
// https://twitter.com/bchiatt
// https://linkedin.com/in/bchiatt
// https://github.com/bchiatt

// Ben
// https://github.com/falkben
// https://twitter.com/benfalk
// https://www.linkedin.com/ben-falk/80/608/842

// Zoe
// https://github.com/zoeames 
// https://twitter.com/zoe_ames
// https://www.linkedin.com/pub/zoe-ames/85/b23/689

// Jen
// https://www.linkedin.com/pub/jen-sears/5/621/2a1
// X twitter
// https://github.com/jlsears
// https://media.licdn.com/media/p/5/005/0ac/158/16866d2.jpg

// Rainu
// https://github.com/Rittycheriah
// https://twitter.com/rainuitty
// https://www.linkedin.com/in/rittycheriah
// https://avatars0.githubusercontent.com/u/10713494?v=3&s=460

// Kate 
// https://www.linkedin.com/pub/kate-williams/b2/84/975
// https://twitter.com/katerebekah
// https://github.com/katerebekah
//img https://pbs.twimg.com/profile_images/549571872396832768/YcBKU-pM.jpeg
=======
h3 About Page

{{greeting}}
>>>>>>> 6009da8438de9ea082948235d77f655cbb4a617f
